

.main-page-wrapper {
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height: 100%;
  margin: 0 auto;
  border: 1px black;
  align-items: center;

}
.header-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 10px;
}
.previous-day-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: underline;
}
.main-page-title {
  color: var(--light-mode-text)

}
.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px black outset;
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1/1;
  align-items: stretch;
  justify-items: stretch;
  position: relative;
  background-color: rgba(176, 176, 176, 0.8);
  
}
.clue-tile {
  display: flex;
  border: 1px white outset;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(235, 172, 145, 0.8);
  
  
}
.clue-tile.selected {
  border: 3px solid green;
  transform: scale(1.05);
}
.clue-tile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-user-drag: none;
}
.clue-tile:hover {
  transform: scale(1.05);
}
.admin-button {
    position: fixed;
    top: 0;
    right: 0;
    
}
.solved-movie-overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  border-radius: 20px;
  z-index: 10;
}
.submit-button {
  margin: 1%;
  width: 100%;
  height: 5%;
  border-radius: 10px;
}
.admin-login-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  background-color: white;
  justify-content: space-evenly;
  border-radius: 15px;
  align-items: center;
  top: 15px;
  right: 15px;
}
.admin-login-input {
  width: 60%;
}
.admin-login-button {
  width: 40%;
}
.admin-modal-backdrop {
    position: fixed;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
  .content-wrapper {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px black;
    align-items: center;
  }
  .main-page-title {
    grid-row: 1/2;
    grid-column: 1/3;
    font-size: 20pt;
  }
  .header-wrapper {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
  }
  .admin-button {
    display: none;
  }


}
