
.admin-page-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
}
.game-create-wrapper {
    flex: 1;
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}
.movie-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movie-clues-row {
    height: 200px;
    display: flex;
    gap: 10px;
    justify-content: start; 
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.movie-clue {
    height: 90%;
    aspect-ratio: 1/1;
    background-color: #ddd;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 10px;
}
.movie-name-input {
    display: flex;
    height: 20px;
    align-items: center;
}