#### DEV VERSION
version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    env_file:
      - .env.development
    depends_on:
      - db

  db:
    image: postgres:15
    env_file:
      - .env.development
    volumes:
      - pgdata_dev:/var/lib/postgresql/data

volumes:
  pgdata_dev:
