.about-me-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #66615E;
    flex-direction: column;
}
.about-me-paragraph {
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;

}
.about-me-education-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.education-blurb {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5pt;
    overflow: hidden;
    width: 60%;
    box-shadow: 5px black;
    
}
.degree-text {
    margin-left: 15px;
    color: black;
    font-size: 2rem;
    text-align: left;
    font-weight: 600;
}
.uw-madison-text {
    font-size: 1.5rem;
    margin-left: 45px;
    text-align: left;
}
