.intro-modal-wrapper {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0,0,0,.7);
    width: 100vw;
    height: 100vh;
}
.intro-modal-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.intro-modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
}