

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-card {
  width: min(30vw, 40vh);
  aspect-ratio: 2/3;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}


.modal-card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


.card-front {
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
  text-align: center;
}

.card-back {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.movie-title {
  text-shadow: 0 2px 5px rgba(0,0,0,0.7);
  font-weight: bold;
}
