

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-card {
    width: min(30vw, 40vh);
    aspect-ratio: 2/3;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}


.modal-card.flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


.card-front {
    background-color: #1e1e2f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.card-back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    background-color: rgba(165, 201, 202, 0.9);
}

.movie-backdrop {
    position: relative;
    z-index: 1;
    grid-row: 1/3;
    grid-column: 1/3;
    width: 100%;
    opacity: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-back-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto 1fr;
    height: 100%;
    width: 100%;
    aspect-ratio: 2/3;
    background: linear-gradient(135deg, #395B64, #2C3333);
    background-size: 400% 400%; /* needed for animation */
    animation: gradientShift 8s ease infinite;
    border-radius: 10px;
}
.movie-title {
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);
    color: #A5C9CA;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    margin-left: 15px;
    z-index: 2;
}
.year { 
    grid-row: 1/2;
    grid-column: 2/3;
    text-shadow: 0 2px 5px rgba(0,0,0,0.7);
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;
    color: #A5C9CA;
    z-index: 2;
}
.synopsis-wrapper {
    grid-row:4/5;
    grid-column: 1/3;
    margin: 5px;
    border: 2px solid #A5C9CA;
    border-radius: 10px;
    justify-content: start;
}
.synopsis {
    margin: 3px;
    font-size: .75em;
    color: #A5C9CA;
}

.audience-rating-wrapper {
    position: absolute;
    top: 37%;
    z-index: 3;
    height: 10%;
    transform: translateY(-100%);
    width: auto;
} 
.audience-rating-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.audience-rating-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center text on image */
    font-size: .75em;   /* relative to wrapper size */
    font-weight: bold;
    color: white;
    text-align: center;
}
.genre-wrapper {
    display: flex;
    grid-column: 1/3;
    grid-row: 3/4;
    height: auto;
    margin-top: 3px;
    align-items: center;
    justify-content: space-evenly;
}
.genre {
    color: #A5C9CA;
}

.streaming-wrapper {
    grid-row: 5/6;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    
}
.streaming-service {
    margin-left: 5px;
    color: #A5C9CA;
}
.service-link {
    cursor: pointer;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}