

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-card {
    width: min(30vw, 40vh);
    aspect-ratio: 2/3;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}


.modal-card.flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


.card-front {
    background-color: #1e1e2f;
    padding: 20px;
    text-align: center;
}

.card-back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    background-color: rgba(165, 201, 202, 0.9);
}



.card-back-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #395B64, #2C3333);
  background-size: 400% 400%; /* needed for animation */
  animation: gradientShift 8s ease infinite;
  border-radius: 10px;
}
.movie-title {
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);
    color: #A5C9CA;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    margin-left: 15px;
}
.year { 
  grid-row: 1/2;
  grid-column: 2/3;
  text-shadow: 0 2px 5px rgba(0,0,0,0.7);
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
  color: #A5C9CA;
}

.synopsis {
  grid-row:3/4;
  grid-column: 1/3;
  font-size: 1rem;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}