@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.letter-span {
  font-family: 'Montserrat', sans-serif;
}


.light-purple { 
	background: #f4eeff; 
}
	
.purple { 
	background: #dcd6f7; 
}

.light-blue { 
	background: #a6b1e1; 
}

.blue { 
	background: #424874; 
}

body {
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}
@keyframes waveFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#root { 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  min-height: 70vh; 
  text-align: center; 
  margin: 0 auto; 
}
.intro-page-background {
  background: linear-gradient(120deg, #192D40, #0D1B2B, #242630);
  background-size: 400% 400%;
  animation: waveFlow 20s ease infinite;
  margin: 0;
  padding: 0;
  color: white;
}
.intro-page-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: auto auto auto 1fr auto;
}
.header-text {
  padding: 8px;
  color: white;
  font-size: 1.5rem;
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: left;
}

/* nav links far right */
.intro-nav-container {
  display: flex; 
  flex-direction: column;
  grid-row: 2/5;
  grid-column: 3/4;
  margin-right: 4%;
  justify-content: center;
  overflow: hidden;
}
.intro-nav-text {
  color: white;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: right;
  position: relative;
  animation: slide-down 1s forwards, fade-in 1s forwards;
  margin-bottom: 15vh;
  transition: transform 0.4s ease;
  cursor: pointer;
  overflow: hidden;
}
.intro-nav-text:nth-child(1){
  animation-delay: 0s,0s;
}
.intro-nav-text:nth-child(2){
  animation-delay: 0.1s,0.1s;
}
.intro-nav-text:nth-child(3){
  animation-delay: 0.2s,0.2s;
}
.intro-nav-text:hover {
  transform: translateX(-3%);
}


/* Name with obsfucated animation*/
.large-name-container {
  background: none;
  color: white;
  grid-row: 3/4;
  grid-column: 1/3;
  margin-top: 0;
  padding-top: 0;
  align-items: start;
}
.large-name-wrapper{
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-top: 0;
  min-height: 7vw;
  
}

.letter-span {
  display: inline-block;
  width: 1ch;
  min-width: 1ch;
  text-align: center;
  font-size: 7vw;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 600;
  padding-left: 1vw;
  padding-right: 5px;
  cursor:default;
  line-height: 1;
}
.hi-im-text {
  grid-row:2/3;
  grid-column: 1/2;
  color: white;
  text-align: left;
  font-size: 2rem;
  padding-left: 12%;
  padding-top: 15%;
  margin: 0;
}
.interests-text-wrapper {
  grid-row: 4/5;
  grid-column: 2/3;
  color: white;
  text-align: left;
  padding-left: 5%;
  font-size: clamp(1rem, 2vw, 1.75rem);
  padding-top: 5%;
  font-weight: 500;
}
.interests-text-1 {
  position: relative;
  opacity: 0;
  animation: fade-in 1s 3s forwards;
  
}
.interests-text-2 {
  position: relative;
  opacity: 0;
  animation: fade-in 1s 5s forwards;
}

.faceshot-div {
  grid-row: 4/5;
  grid-column: 1/2;
  object-fit: contain;
  
}
.faceshot-div img {
  max-width: 200px;
}
.faceshot-div img:hover {
  transform: scale(1.3);
}

.links-div {
  display: flex;
  flex-direction: row;
  grid-row: 5/6;
  grid-column: 1/4;
  align-items: center; 
  justify-content: center;
  gap: 30px;
  margin-bottom: 1%;
  overflow: hidden;
}
.links-div img {
  max-width: 60px;
  cursor: pointer;
 
}
.links-div img:hover {
  transform: scale(1.1);
}

#background {
  max-width: 100vw;
  max-height: 100vh;
  
}
.leave-page {
  position: relative;
  animation: fade-out .3s forwards, slide-out .7s forwards;
}
.intro-nav-container-leave-page {
  position: relative;
  animation: slide-down .5s reverse, fade-out .3s forwards;
}
.links-div-leave-page {
  position: relative;
  animation: slide-down .3s reverse, fade-out .3s forwards;
}

@keyframes slide-right {
  0% {
    left: -50%;
  }
  100% {
    left: 0px;
  }
}

@keyframes enlarge {
  0% {
    transform: scale(1.0);
  }
  70% {
    transform: scale(2.0);
  }
  100% {
    transform: scale(3.0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-down {
  from { transform: translateY(500px); }
  to   { transform: translateY(0); }
}
@keyframes slide-out {
  0% {
    left: 0px;
  }
  100% {
    left: 50%;
  }
}

#name {
  text-align: center;
  position: relative;
  font-size: 1rem;
  animation-fill-mode: forwards;
  animation: slide-right 1.2s forwards, enlarge 1.4s forwards, fade-in 1 forwards;
}

#view-portfolio-button {
  position: relative;
  opacity: 0;
  animation: fade-in 1s 2s forwards;
  outline-color: #424874;
  grid-row: 1/2;
  grid-column: 2/3;
  transition: transform 0.4s ease, background-color 0.2s ease;
}

#view-portfolio-button:hover {
  transform: scale(1.05);
  background-color: #a6b1e1; 
}
