.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    height: 100vh;
    width: 100vw;
    gap: 1rem;
    box-sizing: border-box;
}

.recent-watches-container {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    padding: 16px;
    overflow-x: hidden; 
    overflow-y: visible;
}
.recent-watches-row {
    display: flex;
    align-items: stretch;
    overflow: visible;
    padding-block: 12px;
}
.recent-watches {
    display: flex;
    gap: 16px;       /* space between each card */
    padding: 15px;
    justify-content: flex-start;
    mask-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1) 60%);
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1) 20%);
    overflow: visible;
}


.search-movies-box {
    grid-column: 1/3;
    grid-row: 3/4;
}
.movie-card {
    flex: 1 1 150px;
    aspect-ratio: 2 / 3;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
    background-color: #ddd; /* placeholder background if image missing */
    
}

.movie-card:hover {
    transform: scale(1.05);
}


.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes image fill the card without stretching */
    border-radius: 4px;
}
.movie-info p {
    margin: 0.25rem 0 0;
    font-size: 0.9rem;
}
.movie-page-title {
    grid-column: 1/3;
    grid-row: 1/2;
    border-bottom: 4px outset #A5C9CA;
    color: #A5C9CA;
}

.recently-watched-text {
    text-align: left;
    padding-left: 0px;
    margin-top: 5px;
}

.right-arrow {
    height: 100%;
      /* or whatever */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

}

.normal-text {
    color: #A5C9CA;
    margin: 0 0 0 0;
    text-align: left;
}

.favorite-movies-container {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    padding: 16px;
    overflow-x: hidden; 
    overflow-y: visible;
}