.project-page-background {
    min-height: 100dvh;
    width: 100vw;
    background: linear-gradient(120deg, #192D40, #0D1B2B, #242630);
    background-size: 400% 400%;
    animation: waveFlow 20s ease infinite;
    display: flex;
    flex-direction: column;
}
.page-content {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.projects-page-title {
    position: relative;
}
.projects-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5% 5%;
    gap: 5%;
}
.bet-the-bracket-project-container {
    aspect-ratio: 2 / 3;
    height: 60%;
    background-color: #3C404F;
    border-radius: 12px;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    border: 1px solid black;
    box-shadow: 10px 10px rgba(0, 0, 0, .4);
}

.bet-the-bracket-project-container:hover {
    border-color: aquamarine;
    animation: boxshadow-pulse 3s infinite alternate;
}

.project-image {
    grid-row: 1/2;
    padding: 2% 2%;
    object-fit: contain;
}

.project-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.project-name {
    grid-row: 2/3;
    color: white;
    font-size: 2.5vh;
}
.description-text {
    grid-row: 3/4;
    color: #E6E6E6;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.8vh;
    font-weight: 200;
}


.feature-list {
    grid-row: 4/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: flex-start;         
    width: auto;            
    gap: 4%;
    margin: 2%;
    
}

.feature {
    flex: none;                     
    display: inline-block;          
    background-color: rgba(30, 43, 102,0.6);
    border-radius: 5px;
    white-space: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    color: #95A7F5;
    border: 1px #95A7F5 solid;
    cursor: default;
    font-size: 1.5vh;
    margin: 1% 0;
    justify-content: center;
    
}

.tool-list {
    grid-row: 5/6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    gap: 2%;
    margin: 2%;
}
.tool {
    flex: none;                     
    display: flex;   
    align-items: center;
    justify-content: center;       
    background-color: rgba(114, 115, 117,0.6);
    border-radius: 15px;
    white-space: nowrap;
    padding: 0.25vh 1vh;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    font-size: 1.5vh;
    cursor: default;
}
.tool:hover {
    background-color: rgba(56, 70, 156,0.6);
}

.visit-site {
    grid-row: 6/7;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: left;
    align-items: center;
    background-color: #0077E0;
    width: fit-content;
    margin-top: auto;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: .75vh;
}
.visit-site:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.visit-site-text {
    font-size: 2vh;
    margin: 0;

}
.link-image {
    height: 1em;
    width: auto;
}


@keyframes boxshadow-pulse {
    0% { box-shadow: 0 0 6px rgba(127, 255, 212, 0.4) }
    100% { box-shadow: 0 0 8px rgba(127, 255, 212, 0.6) }
}


