.project-page-background {
    min-height: 100dvh;
    height: 100%;
    width: 100vw;
    background: linear-gradient(120deg, #192D40, #0D1B2B, #242630);
    background-size: 400% 400%;
    animation: waveFlow 20s ease infinite;
    display: flex;
    flex-direction: column;
}
.page-content {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.projects-page-title {
    position: relative;
}
.projects-wrapper {
    min-height:0;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 4% 0%;
    margin-bottom: 2%;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 1%;
    padding-top: 1%;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.projects-wrapper::-webkit-scrollbar {
  display: none; 
}
.back-button-text {
  display: inline-block;
  color: white;
  font-size: 2rem;
  text-align: left;
  position: relative;
  animation: slide-up 1s forwards, fade-in 1s forwards;
  transition: transform 0.4s ease;
  cursor: pointer;
  margin-left: 2%;
  margin-top: 1%;
  width: fit-content;
}
.back-button-text:hover {
    transform: translateX(5%);
}
.scroll-div {
    height: 60px;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.scroll-div img {
    max-height: 40px;
}
.scroll-div-img2 {
    transform: rotateZ(180deg);
}
@keyframes boxshadow-pulse {
    0% { box-shadow: 0 0 6px rgba(127, 255, 212, 0.4) }
    100% { box-shadow: 0 0 8px rgba(127, 255, 212, 0.6) }
}
@keyframes slide-up {
    0% {
        top: -500px;
    }
    100% {
        top: 0px;
    }
}


