
.typing-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
}


.timer {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}


.text {
  display: flex;
  overflow-x: hidden;   
  white-space: nowrap;   
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 60vw;
  height: 10vh;
  min-height: 50px;
  box-sizing: border-box;
  line-height: 1.5;
  cursor: text;
  
  background-color: #f9f9f9;
  font-size: clamp(2rem, 2.5rem, 2.5rem);
  align-items: center;
}


.text::-webkit-scrollbar {
  display: none;
}
.text {
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #4A4A4A;
}


.correct {
  color: green;
}

.error {
  color: red;
}

.cursor {
  border-left: 2px solid black;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  border: none;
  outline: none;
  pointer-events: auto;
}

.resultsmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalcontent {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
}

.back-button {
  position: fixed;  
  top: 20px;      
  left: 20px;   
  z-index: 100;    
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.back-button img {
  width: 40px;     
  height: 40px;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(3rem, 6vw, 5rem);        
  font-weight: bold;
  text-align: center;                   
  margin: 20px 0;                         
  color: #424874;               
  user-select: none;    
}
.test-complete-text {
  color: #4A4A4A;
}
.results-modal-text {
  color: #4A4A4A;
}