.betthebracket-root .auth-page {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* no top padding since no navbar */
}

.betthebracket-root .auth-card {
    background-color: var(--surface-color);
    padding: var(--spacing-large);
    border-radius: var(--border-radius);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--border-color);
    justify-content: center;
}

.betthebracket-root .auth-card h1 {
    color: var(--primary-color);
    margin-bottom: var(--spacing-medium);
    font-size: var(--font-large);
}

.betthebracket-root .auth-card form {
    display: flex;
    flex-direction: column;
}

.betthebracket-root .auth-card img {
    width: 25%;
    height: 25%;
}

.betthebracket-root .auth-card input {
    padding: var(--spacing-small);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: white;
    color: var(--text-color);
    width: 100%;
    box-sizing: border-box;
}

.betthebracket-root .auth-card button {
    margin-top: var(--spacing-small);
}

.betthebracket-root .auth-card .secondary-action {
    margin-top: var(--spacing-medium);
    text-align: center;
}

.betthebracket-root .auth-card .secondary-action button {
    background-color: transparent;
    color: var(--link-color);
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: var(--font-small);
}

.betthebracket-root .auth-card .secondary-action button:hover {
    color: var(--hover-color);
    text-decoration: underline;
}
