.slot-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 15px;
}

.slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
}

.reels-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 70%;
  width: 70%;
  gap: 10px;
  border: 2px solid blue;
}

.reel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.reel-strip {
  display: flex;
  flex-direction: column;
}

.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: 1px solid grey;
  box-sizing: border-box;
}
