.slot-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  background: linear-gradient(-45deg, #2a2a40, #3b3b60, #4c4c80, #2a2a40);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
  margin-top: 5%;
}

.reels-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 70%;
  width: 70%;
  gap: 10px;
  border: 2px solid blue;
background-color: rgba(255, 255, 255, 0.5);
}

.reel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.reel-strip {
  display: flex;
  flex-direction: column;
}

.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  box-sizing: border-box;
}
.slot-symbol-img {
  max-height: 90%;
  max-width: 90%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}
.slot-settings-div {
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}