.cbb-game-modal-body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 5;
}
.cbb-left-team-title {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
.cbb-right-team-title{
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
}
.vs {
    grid-column: 2.3;
    grid-row: 1/2;
    text-align: center;
}

.cbb-left-score-div {
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: center;
    text-align: center;
}
.cbb-right-score-div {
    grid-column: 3/4;
    grid-row: 2/3;
    align-items: center;
    text-align: center;
}
.cbb-game-start-time {
    grid-column: 1/4;
    grid-row: 5/6;
}
.cbb-game-status {
    grid-column: 1/4;
    grid-row: 3/4;
}
.cbb-game-winner {
    grid-column: 1/4;
    grid-row: 4/5;
}

.win {
    background-color: rgba(46, 125, 50, 0.15);
    color: #2e7d32;
}
.loss {
    background-color: rgba(198, 40, 40, 0.15);
    color: #c62828;
}